---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';

.jumbotron {
   // background-image: url(http://placekitten.com/g/1000/400);
    background-color: $secondary;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

// Sticky Footer:

$footer-height: 150px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  background-color: $scrub;
}

.site-footer {
  background-color: $primary;
  position: absolute;
  bottom: 0;
  min-height: $footer-height;
  line-height: 60px;
  width: 100%;
  margin-top: 20px;
}

.rollover {
  position: relative;
  display: inline-block;
  width:100%;
  color: $primary;
}

.rollover .rollover-top {
  //display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: $white;
}

.rollover:hover .rollover-top {
  //display: inline;
  opacity: 1;
  background-color: $secondary;
  filter:alpha(opacity=100);/*position where      
    enlarged image should offset horizontally */
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


// Material Icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
