<footer>
 
 <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-primary">

  
    <div class="col">
      <div class="row">
      <div class="col">
         <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="nav-item nav-link">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
      </div>
      <div class="col">
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="nav-item nav-link">
              <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
      </div> 
      </div>   
    </div>
    <div class="col text-center">
      <a class="navbar-brand" href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/img/BB.png" width="60" height="60" alt="{{ site.title }}" />
      </a>
    </div>
    <div class="col">
      <div class="row">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for my_page in sorted_pages %}
        {% if my_page.title %}
        <div class="col">
          <a class="nav-item nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | escape }}</a>
        </div>
        {% endif %}
        {% endfor %}
         
        </div>
    </div>


  
    </nav>
</footer>
